root = true

[*.{cs,vb}]

# IDE0040: Ajouter des modificateurs d'accessibilité
dotnet_style_require_accessibility_modifiers = omit_if_default

[*.cs]
# Placement des accolades : pas de nouvelle ligne avant l'accolade ouvrante (style inline)
# Exemples affectés : if/else, for, foreach, while, try/catch/finally, etc.
csharp_new_line_before_open_brace = none
# Mettre 'else' et 'else if' sur la même ligne que la '}' précédente
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
# Réduire l'indentation des blocs switch (placer les labels 'case' au même niveau que 'switch')
csharp_indent_switch_labels = false
csharp_indent_case_contents_when_block = false
# Retirer l'espace entre les mots-clés de contrôle et la parenthèse (if( ... ), for( ... ), while( ... ))
csharp_space_after_keywords_in_control_flow_statements = false
# Placer les labels tout à gauche
csharp_indent_labels = flush_left